@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat ", "Vazirmatn";
  transition: 0.2s;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  zoom: 0.9;
}

:root {
  scroll-behavior: smooth;
  --dark-theme: rgb(255, 255, 255);
  --dark-color: black;
  --purple-theme: #a555ec;
  --hover-color: rgba(0, 0, 0, 0.098);
  --linear-theme: rgb(234, 224, 224);
  --active-color: rgba(0, 0, 0, 0.103);
}

.main-container {
  position: absolute;
  display: grid;
  grid-template-columns: 430px repeat(1, 1fr);
  grid-template-rows: 110px 1fr;
  width: 100%;
  height: 100%;
  z-index: 99;
}

::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width: 1470px) {
  body {
    zoom: 0.8;
  }
  .main-container {
    grid-template-columns: 370px repeat(1, 1fr);
  }
}
